@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
  border: solid 1px black; 
} */

h1 {
  font-family: "Roboto", sans-serif
}

/* ul {
  list-style-type: none; 
} */

 /* .customClass, #customClass */

.myDivClass {

  height: 50px; 
  width: 50px; 
  background-color: tomato;
  border: dotted 2px green; 
  margin-left: 12em; 
  padding: 4px; 
}